/* Bootstrap theme styles */
@import "theme/theme";

/* Variables */
$bg-color: #2475a6;

/* Page modules */
@import "navbar";
@import "hero";
@import "features";
@import "request-beta";
@import "footer";

/* GLOBAL */
i.loading {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 3px;
    background-image: url('/images/loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}